<?xml version="1.0"?>
<config>
    <modules>
        <Andu_Friend>
            <version>1.0.0</version>
        </Andu_Friend>
    </modules>
    <frontend>
        <routers>
            <friend>
                <use>standard</use>
                <args>
                    <module>Andu_Friend</module>
                    <frontName>friend</frontName>
                </args>
            </friend>
        </routers>
        <layout>
            <updates>
                <friend>
                    <file>friend.xml</file>
                </friend>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <friend>
                <class>Andu_Friend_Helper</class>
            </friend>
        </helpers>
        <blocks>
            <friend>
                <class>Andu_Friend_Block</class>
            </friend>
        </blocks>
        <models>
            <friend>
                <class>Andu_Friend_Model</class>
                <resourceModel>friend_mysql4</resourceModel>
            </friend>
            <friend_mysql4>
                <class>Andu_Friend_Model_Mysql4</class>
                <entities>
                    <invite>
                        <table>friend_invite</table>
                    </invite>
                    <relation>
                        <table>friend_relation</table>
                    </relation>
                </entities>
            </friend_mysql4>
        </models>
        <resources>
            <friend_setup>
                <setup>
                    <module>Andu_Friend</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </friend_setup>
            <friend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </friend_write>
            <friend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </friend_read>
        </resources>
    </global>
    <admin>
        <routers>
            <friend>
                <use>admin</use>
                <args>
                    <module>Andu_Friend</module>
                    <frontName>admin_friend</frontName>
                </args>
            </friend>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <friend module="friend">
                <title>Friend</title>
                <sort_order>100</sort_order>
                <children>
                    <invite module="friend">
                        <title>Manage Invite</title>
                        <sort_order>0</sort_order>
                        <action>admin_friend/adminhtml_invite</action>
                    </invite>
                </children>
            </friend>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <friend translate="title" module="friend">
                            <title>Friend</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <invite translate="title">
                                    <title>Manage Invite</title>
                                    <sort_order>0</sort_order>
                                </invite>
                            </children>
                        </friend>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <friend>
                    <file>friend.xml</file>
                </friend>
            </updates>
        </layout>
    </adminhtml>
</config> 