<?xml version="1.0"?>
<config>
    <modules>
        <Andu_Message>
            <version>1.0.0</version>
        </Andu_Message>
    </modules>
    <global>
        <blocks>
            <message>
                <class>Andu_Message_Block</class>
            </message>
        </blocks>
        <helpers>
            <message>
                <class>Andu_Message_Helper</class>
            </message>
        </helpers>
        <models>
            <message>
                <class>Andu_Message_Model</class>
                <resourceModel>message_mysql4</resourceModel>
            </message>
            <message_mysql4>
                <class>Andu_Message_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>message_message</table>
                    </message>
                </entities>
            </message_mysql4>
        </models>
        <resources>
            <message_setup>
                <setup>
                    <module>Andu_Message</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </message_setup>
            <message_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </message_write>
            <message_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </message_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <message>
                <use>standard</use>
                <args>
                    <module>Andu_Message</module>
                    <frontName>message</frontName>
                </args>
            </message>
        </routers>
        <layout>
            <updates>
                <friend>
                    <file>message.xml</file>
                </friend>
            </updates>
        </layout>
    </frontend>
</config> 