<?xml version="1.0"?>
<config>
    <modules>
        <Andu_Customer>
            <version>1.0.0</version>
        </Andu_Customer>
    </modules>
    <frontend>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
                        <Andu_Customer before="Mage_customer">Andu_Customer</Andu_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>