<?xml version="1.0"?>
<config>
    <modules>
        <Andu_Search>
            <version>1.0.0</version>
        </Andu_Search>
    </modules>
    <global>
        <blocks>
            <search>
                <class>Andu_Search_Block</class>
            </search>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Andu_Search_Block_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <search>
                <class>Andu_Search_Helper</class>
            </search>
        </helpers>
    </global>
    <frontend>
        <routers>
            <search>
                <use>standard</use>
                <args>
                    <module>Andu_Search</module>
                    <frontName>search</frontName>
                </args>
            </search>
        </routers>
        <layout>
            <updates>
                <search>
                    <file>search.xml</file>
                </search>
            </updates>
        </layout>
    </frontend>
</config> 