<?xml version="1.0"?>
<config>
    <modules>
        <Andu_Setup>
            <version>1.5.0</version>
        </Andu_Setup>
    </modules>
    <global>
        <helpers>
            <setup>
                <class>Andu_Setup_Helper</class>
            </setup>
        </helpers>
        <models>
            <setup>
                <class>Andu_Setup_Model</class>
                <resourceModel>setup_mysql4</resourceModel>
            </setup>
            <catalog>
                <rewrite>
                    <resource_product_collection>Andu_Setup_Model_Rewrite_Source_Product_Collection</resource_product_collection>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <andu_setup>
                <setup>
                    <module>Andu_Setup</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </andu_setup>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <setup>
                        <type>singleton</type>
                        <class>setup/observer</class>
                        <method>updateProduct</method>
                    </setup>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config> 